.svg-font {
  font-size: inherit; 
  color: inherit; 
  fill: currentColor; 
  vertical-align: middle;

  .d-block {
    display:block;
  }

  @for $i from 1 to 5 {
    .em {
      &-#{$i} {
        height: ($i)+em;
        width: ($i)+em;
      }
    }
  }
}


