.svg-font {
  font-size: inherit; 
  color: inherit; 
  fill: currentColor; 
  vertical-align: middle;
}

.svg-font.d-block {
  display:block;
}

@for $i from 1 to 5 {
  .svg-font.em {
    &-#{$i} {
      height: ($i)+em;
      width: ($i)+em;
    }
  }
}